{% extends "projeto5_website/base.html" %}
{% block content %}

  <form id="form-teste" method="post">
    {% csrf_token %}
    <div id='cabform'>
    <div class="row">
      <div class="col-md-2">
        <input id="ra" type="text" class="form-control" placeholder="Digite seu CPF" name="ra" >
      </div>
      <div class="col-md-6">
        <input id="name" name="nome" type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      </div>
    
    <br>  
    <div class="row">
      <div class="col-md-8">
      <input name="email" type="email" class="form-control" id="e-mail" placeholder="Digite seu Email">
      </div>
    </div>
    <br>
    <p>Você está empregado ?</p>
    <div id="empregado">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="empregadoOpcao" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Marque se está
      </label>
    </div>
    <!--<div class="form-check">
      <input class="form-check-input" type="radio" name="empregadoOpcao" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Não
      </label>
    </div>-->
    </div>
    </div>

    

  </div>

    <div class="row">
      <div id="enun" class="col-md-8">
       <h4>ANÁLISE DE PERFIL</h4>
         <p>Cada questão abaixo contém quatro frases. Escolha aquela com a qual você mais se identifica.
          Imagine-se sozinho em seu dia a dia. Responda sozinho e sem interrupções. Não pule nenhuma questão.
          Seja mais natural e espontâneo possível. Não há resposta melhor ou pior.</p>
      </div>
    </div>

    </div>

    
    {% for pergunta,alternativas in perguntas.items %}
    <div id="pergunta">
      <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
      {{pergunta}}</h3>
      <fieldset>
        {% for alternativa in alternativas %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{pergunta}}" value="{{alternativa.perfil}}">
          <label class="form-check-label">{{alternativa.conteudo}}

          </label>
        </div>
       
        {% endfor %}
      </fieldset>
    </div>
    {% endfor %}
     
    <button id="enviar" class="btn btn-primary"  type="submit" onclick="window.open('http://127.0.0.1:8000/obrigado/  ')">Enviar</button>
    
  </form>

  
{% endblock %}
